section{
    padding:80px;
    width:100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

h1{
    margin:0;
}

.days {
    display:flex;
    align-items: center;
    position: absolute;
    bottom:0;
    right:5px;
}

.link{
    margin:5px 0px;
}

.card{
    padding:20px;
    border-radius:10px;
    flex: 0 0 450px;
    display:grid;
    justify-content: center;
    grid-template-columns: 5fr 2fr;
}

.buttons {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(35px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
    padding: 5px;
    overflow: hidden;
    position:absolute;
    bottom:20px;
    right:20px;
}

.price{
    position:absolute;
    top:0px;
    right:0px;
    padding:5px;
    background-color: darkcyan;
    border-radius: 5px;
}

.image{
    width: 100px;
    height: 100px;
}

.image > img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.bg-darkcyan {
    background-color: darkcyan !important;
}

@media screen and (max-width: 1800px) {    
    .card {
            flex: 0 0 600px;
        }
}

@media screen and (max-width: 1650px) {
    .card {
        flex: 0 0 500px;
    }
}

@media screen and (max-width: 1450px) {
    .card {
        flex: 0 0 400px;
    }
}

@media screen and (max-width: 1250px) {
    .card {
        flex: 0 0 100%;
    }
}